
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');*/

* {
    /* margin: 0;
    padding: 0; */
    /* font-family: 'Nunito', sans-serif; */
}

/* .active {
    color: #00305b;
}

.bt {
    background-color: #00305b;
}

.btnn {
    background-color: #00305b;
    color: white;
}

.btnn:hover {
    background-color: #00305b;
    color: white;
}

label {
    font-weight: 600;
}



.active {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    padding: 6px 2px;
}

.nav-link {
    color: #00305b;
}

.nav-link:hover {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    padding: 6px 0px;
}

.linkdd{
    color: #000000;
} */

